parameters:
    debug: false
    serializer.config_dir: "%kernel.root_dir%/config/serializer"
    serializer.cache_dir: "%kernel.root_dir%/cache"

    toggl.api_key: KEY
    toggl.toggl_base_uri: https://www.toggl.com/api/
    toggl.reports_base_uri: https://www.toggl.com/reports/api/

    invoice_ninja.base_uri: http://invoiceninja.dev/api/
    invoice_ninja.api_key: KEY

    # Key = id of project in toggl
    # Value =
    #           client_id = id of client in InvoiceNinja
    #           project_id = id of project in InvoiceNinja
    projects:
        103998205:
          client_id: 1
          project_id: 1
        102830498:
          client_id: 1
          project_id: 2
        104416707:
          client_id: 1
          project_id: 3
